openapi: "3.1.0"
schemes:
  - https
host: hagbad.greysystems.eu
basePath: /partner/api/v1
info:
  version: 1.0.0-beta
  title: Hagbad Financial institutions API
  contact:
    email: developers@greysystems.eu
    name: Contact URL
    url: "http://www.greysystems.eu/#contact"
  license:
    name: All Rights reserved GreySystems 2023
    url: "http://www.greysystems.eu"
  termsOfService: "https://www.greysystems.eu"
  x-logo:
    url: "https://www.hagbad.net/wp-content/themes/moneypool/images/logo.png"
    background: "#FFFFFF"
  description: |
    This page contains the documentation on how to use the Hagbad's financial institution API.

    **API is in beta version, breaking changes may be introduced before the final release candidate is released**

    # Introduction
    This is the technical documentation for the IT team in charge of integrating Hagbad Moneypool System with their corporate financial platform.

    We offer 3 integrations to start using Hagbad Moneypool Platform as part of your financial offering. 

    The table below illustrates those API integrations: 

    | Operation | Description | API Owner | Integration done by |
    |-----|-----|-------|-------|
    | **Authentication** |  Get authorization to use the API's resources. | Hagbad IT Team | Financial Institution IT Team |
    | **Into Holding** | To send money into a moneypool by one of its members. | Hagbad IT Team | Financial Institution IT Team |
    | **Search Customer** | To search customers in the financial institution database. | Financial Institution IT Team | Hagbad IT Team |
    | **Out of Holding** | To send money from a moneypool to one of its members. | Financial Institution IT Team | Hagbad IT Team |
 
     The Hagbad  API is built on top of HTTP:
    * RESTFul
    * Predictable resource URLs. 
    * Accepts and returns JSON in the HTTP body. 
    * Returns HTTP response codes to indicate errors. 
    
    You can use your favorite HTTP/REST library for your programming language to consume this API. 

    # Common HTTP Error Responses

    The Rest API uses the following common HTTP status codes to communicate general issues or errors to the clients: 

    * HTTP **400** (Invalid Request): The request provided is invalid (request is not well formed, a mandatory field is not provided, etc..). 
    * HTTP **401** (Unauthorized): You are not allowed to access or update the requested resource. 
    * HTTP **404** (Not found): The searched item could not be found (the moneypool was not found, etc..). 
    * HTTP **409** (Conflict): There is a conflict when trying to execute the operation (status change not allowed, etc..). 
    * HTTP **500** (Internal Server Error): Some internal component has failed to process your request. Please notify about this error to GreySystems team.

tags:
  - name: authentication
    description: |
      All Hagbad's financial institution API require to be authenticated in order to use information.

      The system will require a valid `access_token` that will be filled in a HTTP header called `Authorization`. Furthermore, it is required to add the word Bearer to this header. Let see a valid `Authorization` header example:

      ```
        Authorization: Bearer {access_token}
      ```

      The `access_token` is a JWT token. You can decode this token using this web tool: [jwt.io](https://jwt.io)

      Please, see the **/login** method in order to know how to get a valid `access_token`.
  - name: Into Holding
    description: | 
        ## Into Holding Transactions.
    
        Into Holding transactions occur when customers of your financial institution want to send money to an Hagbad Moneypool, in which they are members.

  - name: Customer Search
    description:  | 
        ## Customer Search on Financial Institution Database.
        
        When we register new customers in Hagbad, we want to know if those persons are already customers in your Financial Institution. 

        Therefore, you need to provide us with an API to search customers in your database by mobile number and birthdate.
    
        We will allow people to register in Hagbad Platform, even if they are not customers of your Financial Institution. However, Hagbad customers must be registered on your Financial Institution to send or receive money from a moneypool.

        In this section, we include the input and output that your API should provide to perform customer searchs.
  - name: Out of Holding
    description: | 
        ## Out of Holding Transactions.
    
        Moneypool members need to get paid at some moment. Those payments are the Out of Holding Transaction. 

        We will push those payment orders to your Financial Institution, using the API that you must provide us for this purpose. 

        Please, be aware that there are 2 different payment methods:
        - Cash Pickup
        - Mobile Wallet

        In this section, we include the input and output that your API should provide to perform Out of Holdings.

paths:
  "/login":
    post:
      summary: Login
      operationId: LoginFinancialInstitution
      tags:
        - authentication
      description: | 
        Do login in the system and get a valid `access_token` in order to authenticate API's requests.

        #### IMPORTANT:
          Please, note that the `access_token` has expiration time. When the `access_token` is expired you should request a new one using this **login** method, otherwise, you will get `401 - Unauthorized` status error.
      parameters:
        - name: LoginRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/LoginRequest"
      responses:
        "200":
          description: You have been authenticated in the system properly.
          schema:
            $ref: "#/definitions/LoginResponse"
        "400":
          description: Bad Request. Somethin is wrong.
          schema:
            $ref: "#/definitions/LoginErrorResponse"
      
  "/validate":
    post:
      summary: Validate INH transaction.
      description: | 
        Check if the into holding transfer is valid to confirm.

      operationId: validateInh
      parameters:
        - name: IntoHoldingValidationRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/IntoHoldingValidationRequest"
      tags:
        - Into Holding
      responses:
        "200":
          description: Transfer has been validated properly. The response hasn't body.
        "400":
          description: Invalid Request. message attribute of response contains detailed information about the issue.
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: Conflict. The beneficiary moneypool status does not allow operations, the selected customer does not belong to this moneypool, etc.
          schema:
            $ref: "#/definitions/Error"
            
  
  "/confirm":
    post:
      summary: Confirm INH transaction
      description: |
        Confirm a validated into holding transfer.
        
      operationId: confirmInh
      parameters:
        - name: IntoHoldingRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/IntoHoldingRequest"
      tags:
        - Into Holding
      responses:
        "200":
          description: Transfer has been validated properly.
          schema:
            $ref: "#/definitions/IntoHoldingResponse"
        "400":
          description: Invalid Request. message attribute of response contains detailed information about the issue.
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: Conflict. The beneficiary moneypool status does not allow operations, the selected customer does not belong to this moneypool, etc.
          schema:
            $ref: "#/definitions/Error"
  "/customer/search":
    post:
      summary: Search customer
      description: |
        Search customer by phone and birth date or code.
        
      operationId: searchCustomer
      parameters:
        - name: SearchCustomerRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/SearchCustomerRequest"
      tags:
        - Customer Search
      responses:
        "200":
          description: List of customer.
          schema:
            $ref: "#/definitions/SearchCustomerResponse"
        "400":
          description: Invalid Request. message attribute of response contains detailed information about the issue.
          schema:
            $ref: "#/definitions/Error"
  "/payment":
    post:
      summary: Make a payment to a moneypool beneficiary
      description: |
        Make a payment to a moneypool beneficiary.
        
      operationId: makePayment
      parameters:
        - name: Payment
          in: body
          required: true
          schema:
            $ref: "#/definitions/PaymentRequest"
      tags:
        - Out of Holding
      responses:
        "200":
          description: Payment was successful.
          schema:
            $ref: "#/definitions/PaymentResponse"
        "400":
          description: Invalid Request. message attribute of response contains detailed information about the issue.
          schema:
            $ref: "#/definitions/Error"
  
definitions:
  Error:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: string
        description: The error code. This error code should define the error type returned.
        example: IH-0001
      message:
        type: string
        description: The error description. A message that resume the error thrown by the system.
        example: "Something happened."
  IntoHoldingValidationRequest:
    type: object
    required:
      - sender
      - beneficiary
      - amount
      - commission
    properties:
      sender:
        description: Sender information.
        $ref: "#/definitions/SenderCustomer"
      beneficiary:
        description: Beneficiary (moneypool code).
        type: string
        example: MP001
      amount:
        description: Transaction amount.
        $ref: "#/definitions/Amount"
      commission:
        description: Transaction commission.
        $ref: "#/definitions/Amount"
      remarks:
        description: Remark message.
        type: string
        example: "Inh transfer"
  IntoHoldingRequest:
    type: object
    required:
      - transactionCode
      - sender
      - beneficiary
      - amount
      - commission
    properties:
      transactionCode:
        description: Transaction Code generated by the Financial Institution.
        type: string
        example: TC00001
      sender:
        description: Sender information.
        $ref: "#/definitions/SenderCustomer"
      beneficiary:
        description: Beneficiary (moneypool code).
        type: string
        example: MP001
      amount:
        description: Transaction amount.
        $ref: "#/definitions/Amount"
      commission:
        description: Transaction commission.
        $ref: "#/definitions/Commission"
      remarks:
        description: Remark message.
        type: string
        example: "Inh transfer"
        
  IntoHoldingResponse:
    required:
      - transactionCode
      - foreignTransactionCode
    type: object
    properties:
      transactionCode:
        description: Transaction code, generated by the monepool system
        type: string
        example: IH00001
      foreignTransactionCode:
        description: Foreign transaction code, provided by the remittance company
        type: string
        example: TC4554
  SenderCustomer:
    required:
      - mobileNumber
    type: object
    properties:
      code:
        description: Customer code.
        type: string
        example: CU123
      name:
        description: Customer name.
        type: string
        example: Ben
      lastname:
        description: Customer last name.
        type: string
        example: Simmons
      birthDate:
        description: Customer birthdate.
        type: string
        format: date
        pattern: "yyyy-MM-dd"
        example: "2021-05-23"
      mobileNumber:
        description: Customer mobile number. Be sure to use international; "+" "Country Code" "Mobile Number".
        type: string
        example: "+34666666666"
        
  Amount:
    description: The amount and currency of the operation.
    type: object
    required:
      - ccy
      - value
    properties:
      ccy:
        description: Currency.
        type: string
        example: EUR
      value:
        description: Amount.
        type: "number"
        format: "double"
        example: 300.56
        
  Commission:
    description: The amount and currency of the operation.
    type: object
    required:
      - ccy
      - value
    properties:
      ccy:
        description: Currency.
        type: string
        example: EUR
      value:
        description: Amount.
        type: "number"
        format: "double"
        example: 5

  SearchCustomerRequest:
    type: object
    required:
      - customerCode 
      - phoneNumber
    properties:
      customerCode:
        description: Customer code. (If you search by code, the other fields are not required)
        type: string
        example: CU123
      phoneNumber:
        description: Customer phone number. Be sure to use international; "+" "Country Code" "Mobile Number".
        type: string
        example: "+34666666688"
      birthDate:
        description: Customer birthdate.
        type: string
        format: date
        pattern: "yyyy-MM-dd"
        example: "2021-05-23"
        
  SearchCustomerResponse:
    type: object
    required:
      - customerCode
      - firstName
      - lastName
      - email
      - nationality
      - birthDate
      - cellPhone
      - status
    properties:
      customerCode:
        description: Customer code.
        type: string
        example: CU123
      firstName:
        description: Customer first name.
        type: string
        example: Ben
      lastName:
        description: Customer last name.
        type: string
        example: Simmons
      nationality:
        description: Customer nationality.
        type: string
        example: ES
      email:
        description: Customer email.
        type: string
        format: email
        example: ag@mail.com
      birthDate:
        description: Customer birthdate.
        type: string
        format: date
        pattern: "yyyy-MM-dd"
        example: "2021-05-23"
      cellPhone:
        description: Customer mobile number. Be sure to use international; "+" "Country Code" "Mobile Number".
        type: string
        example: "+34666666666"  
      address:
        description: Customer address.
        $ref: "#/definitions/Address"
      status:
        description: >
            Customer status:
             * `A` - Active
             * `B` - Blocked
             * `I` - Inactive
             * `C` - Cancelled
        type: string      
        enum:
        - A
        - B
        - I
        - C

  Address:
    type: object
    properties:
      address1:
        description: "Address first line (street)."
        type: string
        example: "Elm Street, 13"
      address2:
        description: Address second line (House number, floor...etc.).
        type: string
        example: Second floor, door C
      city:
        description: City.
        type: string
        example: Madrid
      state:
        description: State.
        type: string
        example: Madrid
      country:
        description: Country.
        type: string
        example: ES
      zipCode:
        description: Postal code.
        type: string
        example: 1232F
        
  PaymentRequest:
    type: object
    required:
      - transactionCode 
      - moneypoolCode
      - beneficiaryCode
      - moneypoolPosition
      - amount
      - paymentMethod
    properties:
      transactionCode:
        description: Transaction Code generated by Hagbad System.
        type: "string"
        example: "MP200"
      moneypoolCode:
        description: Moneyool Code (Sender).
        type: "string"
        example: "MP200"
      beneficiaryCode:
        description: Beneficiary code.
        type: "string"
        example: "CU125"  
      moneypoolPosition:
        description: Position.
        type: "number"
        format: "int"
        example: 3  
      amount:
        description: Transaction amount.
        $ref: "#/definitions/Amount"
      paymentMethod:
        description: >
            Transfer payment method:
             * `MOBILE` - Mobile wallet
             * `CASH` - Cash payment
        type: string      
        enum:
        - MOBILE
        - CASH

  PaymentResponse:
    type: object
    required:
      - foreignTransactionCode
    properties:
      foreignTransactionCode:
        description: Transaction Code generated by the Financial Institution.
        type: string
        example: PY00002
  LoginRequest:
    type: object
    required: 
      - financial-institution
      - secret
    properties:
      financial-institution:
        type: string
        description: The financial institution allowed to send Into Holding transfers to the system.
      secret:
        type: string
        description: Your secret! This secret is provided by the Hagbad team and could be refreshed from time in time. 

  LoginResponse:
    type: object
    properties:
      access_token:
        type: string
        description: The `access_token`. This is the token generated by our identity broker and is the token that you will use to authenticate the requests. This token has expiration time (defined in the field `expires_in`) so, the token will not be valid if has been expired.
      expires_in:
        type: number
        description: This field define how many seconds is the `access_token` valid. The expiration time is configurable and it could change for security reasons.
        example: 300
      token_type:
        type: string
        description: The `access_token`'s type. Usually this value will be `bearer`
        example: bearer
      id_token:
        type: string
        description: The internal `access_token`'s identifier. Save this id could be useful.
      scope:
        type: string
        description: The scope allowed for the `access_token`
        example: openid profile email

  LoginErrorResponse:
    type: object
    properties:
      error:
        type: string
        description: An Error identifier.
        example: invalid_client
      error_description:
        type: string
        description: The error description.
        example: Invalid client credentials