openapi: "3.1.0"
schemes:
  - https
host: hagbad.greysystems.eu
basePath: /partner/api/v1
info:
  version: 1.0.0-beta
  title: Hagbad Financial institutions API
  contact:
    email: developers@greysystems.eu
    url: http://www.greysystems.eu/#contact
  license:
    name: All Rights reserved GreySystems 2023
    url: "http://www.greysystems.eu"
  termsOfService: "https://www.greysystems.eu"
  x-logo:
    url: "http://www.greysystems.eu/wp-content/uploads/2017/07/logo-Grey-menu.png"
    background: "#FFFFFF"
  description: |
    This page contains the documentation on how to use the Hagbad's financial institution API.

    **API is in beta version, breaking changes may be introduced before the final release candidate is released**

    # Introduction

    This API is built on top of HTTP:
    - RESTFul
    - Predictable resource URLs. 
    - Accepts and returns JSON in the HTTP body. 
    - Returns HTTP response codes to indicate errors. 

    You can use your favorite HTTP/REST library for your programming language to consume this API. 

    # About the Hagbad's financial institutions API:
    The API is composed by an integrated set of methods to validate an confirm "Into Holding" transactions.

    An Into Holding (aka INH) is a transaction made in the financial institution's system and send to the Hagbad System.

    There are the differentes modules exposed by this API: 

    * **Authentication**: Get authorization to use the API's resources.
    * **Into Holding**: Manage Into Holding transaction.
    * **Financial Institutions**: Useful methods for financial institutions.

    # Common HTTP Error Responses

    The Rest API uses the following common HTTP status codes to communicate general issues or errors to the clients: 

    * HTTP **400** (Invalid Request): The request provided is invalid (request is not well formed, a mandatory field is not provided, etc..). 
    * HTTP **403** (Forbidden): You are not allowed to access or update the requested resource. 
    * HTTP **404** (Not found): The searched item could not be found (the moneypool was not found, etc..). 
    * HTTP **409** (Conflict): There is a conflict when trying to execute the operation (status change not allowed, etc..). 
    * HTTP **500** (Internal Server Error): Some internal component has failed to process your request. Please notify about this error to GreySystems team.
tags:
  - name: authentication
    description: |
      All Hagbad's financial institution API require to be authenticated in order to use information.

      The system will require a valid `access_token` that will be filled in a HTTP header called `Authorization`. Furthermore, it is required to add the word Bearer to this header. Let see a valid `Authorization` header example:

      ```
        Authorization: Bearer {access_token}
      ```

      The `access_token` is a JWT token. You can decode this token using this web tool: [jwt.io](https://jwt.io)

      Please, see the login method in order to know how to get a valid `access_token`.
  - name: into holding
    description: |
      We understand *Into holding* operation as a transaction made in a financial institution sent to the Hagbad system.

      This transfer would be validated before the confirmation, but it is not required in all cases.
  - name: financial institutions
    description: |
      The *Financial Institutions* chapter contins useful method like search customers, etc.
      
paths:
  "/login":
    post:
      summary: Login
      operationId: LoginFinancialInstitution
      tags:
        - authentication
      description: | 
        Do login in the system and get a valid `access_token` in order to authenticate API's requests.
      parameters:
        - name: LoginRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/LoginRequest"
      responses:
        "200":
          description: You have been authenticated in the system properly.
          schema:
            $ref: "#/definitions/LoginResponse"
        "400":
          description: Bad Request. Somethin is wrong.
          schema:
            $ref: "#/definitions/LoginErrorResponse"
      
  "/validate":
    post:
      summary: Validate INH transaction.
      description: | 
        Check if the into holding transfer is valid to confirm.

      operationId: validateInh
      parameters:
        - name: IntoHoldingValidationRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/IntoHoldingValidationRequest"
      tags:
        - into holding
      responses:
        "200":
          description: Transfer has been validated properly. The response hasn't body.
        "400":
          description: Invalid Request. message attribute of response contains detailed information about the issue.
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: Conflict. The beneficiary moneypool status does not allow operations, the selected customer does not belong to this moneypool, etc.
          schema:
            $ref: "#/definitions/Error"
            
  
  "/confirm":
    post:
      summary: Confirm INH transaction
      description: |
        Confirm a validated into holding transfer.
        
      operationId: confirmInh
      parameters:
        - name: IntoHoldingRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/IntoHoldingRequest"
      tags:
        - into holding
      responses:
        "200":
          description: Transfer has been validated properly. The response hasn't body.
        "400":
          description: Invalid Request. message attribute of response contains detailed information about the issue.
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: Conflict. The beneficiary moneypool status does not allow operations, the selected customer does not belong to this moneypool, etc.
          schema:
            $ref: "#/definitions/Error"
  "/customer/search":
    post:
      summary: Search customer by phone and birth date
      description: |
        Search customer by phone and birth date.
        
      operationId: searchCustomer
      parameters:
        - name: SearchCustomerRequest
          in: body
          required: true
          schema:
            $ref: "#/definitions/SearchCustomerRequest"
      tags:
        - financial institutions
      responses:
        "200":
          description: Transfer has been validated properly.
          schema:
            $ref: "#/definitions/SearchCustomerResponse"
        "400":
          description: Invalid Request. message attribute of response contains detailed information about the issue.
          schema:
            $ref: "#/definitions/Error"
  
  
definitions:
  Error:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: string
        description: The error code. This error code should define the error type returned.
        example: IH-0001
      message:
        type: string
        description: The error description. A message that resume the error thrown by the system.
        example: "Something happened."
  IntoHoldingValidationRequest:
    type: object
    required:
      - sender
      - beneficiary
      - amount
      - commission
    properties:
      sender:
        description: Sender information.
        $ref: "#/definitions/SenderCustomer"
      beneficiary:
        description: Beneficiary (moneypool code).
        type: string
        example: MP001
      amount:
        description: Transaction amount.
        $ref: "#/definitions/Amount"
      commission:
        description: Transaction commission.
        $ref: "#/definitions/Amount"
      remarks:
        description: Remark message.
        type: string
        example: "Inh transfer"
  IntoHoldingRequest:
    type: object
    required:
      - transactionCode
      - sender
      - beneficiary
      - amount
      - commission
    properties:
      transactionCode:
        description: The financial institution's transaction code.
        type: string
        example: TC00001
      sender:
        description: Sender information.
        $ref: "#/definitions/SenderCustomer"
      beneficiary:
        description: Beneficiary (moneypool code).
        type: string
        example: MP001
      amount:
        description: Transaction amount.
        $ref: "#/definitions/Amount"
      commission:
        description: Transaction commission.
        $ref: "#/definitions/Amount"
      remarks:
        description: Remark message.
        type: string
        example: "Inh transfer"
  SenderCustomer:
    type: object
    required:
      - mobileNumber
    properties:
      code:
        description: Customer code.
        type: string
        example: CU123
      name:
        description: Customer name.
        type: string
        example: Ben
      lastname:
        description: Customer last name.
        type: string
        example: Simmons
      birthDate:
        description: Customer birthdate.
        type: string
        format: date
        pattern: "YYYY-MM-DD"
        example: "2021-05-23"
      mobileNumber:
        description: Customer mobile number.
        type: string
        example: "+34666666666"
  Amount:
    description: The amount and currency of the operation.
    type: object
    required:
      - ccy
      - value
    properties:
      ccy:
        description: Currency.
        type: string
        example: EUR
      value:
        description: Amount.
        type: "number"
        format: "double"
        example: 300.56

  SearchCustomerRequest:
    type: object
    required:
      - phoneNumber
      - birthDate
    properties:
      phoneNumber:
        description: Customer phone number.
        type: string
        example: "+34666666688"
      birthDate:
        description: Customer birthdate.
        type: string
        format: date
        pattern: "YYYY-MM-DD"
        example: "2021-05-23"
  SearchCustomerResponse:
    type: object
    required:
      - code
      - firstName
      - lastName
      - email
      - nationality
      - birthDate
      - cellPhone
    properties:
      code:
        description: Customer code.
        type: string
        example: CU123
      firstName:
        description: Customer code.
        type: string
        example: Ben
      lastName:
        description: Customer last name.
        type: string
        example: Simmons
      nationality:
        description: Customer nationality.
        type: string
        example: ESP
      email:
        description: Customer email.
        type: string
        format: email
        example: ESP
      birthDate:
        description: Customer birthdate.
        type: string
        format: date
        pattern: "YYYY-MM-DD"
        example: "2021-05-23"
      phone:
        description: Customer phone number.
        type: string
        example: "+34666666688" 
      cellPhone:
        description: Customer mobile number.
        type: string
        example: "+34666666666"  
  LoginRequest:
    type: object
    required: 
      - financial-institution
      - secret
    properties:
      financial-institution:
        type: string
        description: The financial institution allowed to send Into Holding transfers to the system.
      secret:
        type: string
        description: Your secret! This secret is provided by the Hagbad team and could be refreshed from time in time. 
  LoginResponse:
    type: object
    properties:
      access_token:
        type: string
        description: The `access_token`. This is the token generated by our identity broker and is the token that you will use to authenticate the requests. This token has expiration time (defined in the field `expires_in`) so, the token will not be valid if has been expired.
      expires_in:
        type: number
        description: This field define how many seconds is the `access_token` valid. The expiration time is configurable and it could change for security reasons.
        example: 300
      token_type:
        type: string
        description: The `access_token`'s type. Usually this value will be `bearer`
        example: bearer
      id_token:
        type: string
        description: The internal `access_token`'s identifier. Save this id could be useful.
      scope:
        type: string
        description: The scope allowed for the `access_token`
        example: openid profile email
  LoginErrorResponse:
    type: object
    properties:
      error:
        type: string
        description: An Error identifier.
        example: invalid_client
      error_description:
        type: string
        description: The error description.
        example: Invalid client credentials